.List{
    margin: 20px auto;
    width: fit-content;
}

.flexCenter {
  display:flex;
  margin:auto;
  flex-wrap:wrap;
  place-content: start left
}

.itemFlex {
    display: inline-block;
    font-size: 18px;
    list-style-type: none;
    width: 190px;
    height: auto;
    line-height: 50px;
    margin: 0 25px;
    box-sizing: border-box;
    text-align: center;
}


.listFlex {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
    width: 100vw;
}

.listFlex:after {
    content: '';
    flex: 1 0 auto;
}

/* @media screen and (max-width: 430px) { .listFlex { width: 200px; }}
@media screen and (min-width: 431px) and (max-width: 630px) { .listFlex { width: 400px;} }
@media screen and (min-width: 631px) and (max-width: 830px) { .listFlex { width:600px;  } }
@media screen and (min-width: 831px) and (max-width: 1030px) { .listFlex { width: 800px;  } }
@media screen and (min-width: 1031px) and (max-width: 1230px) { .listFlex { width: 1000px; } } */
