/* .card {
  min-width: 275px;
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  min-width: 35px;
  width: 35px;
  height: 35px;
}

.crossed {
  text-decoration: line-through;
  font-size: 14px;
}
